<%- include('partials/header'); %>
<link rel="stylesheet" href ="/stylesheets/aboutStyle.css">
</head>
<div class="container">
    <nav>
        <img class="userPic" src="/images/customLogo.png" alt="profile picture">
        <div class="userDetails">
            <h1>Manya's Portfolio</h1>
            
            <span>Software Engineering Student</span>
        </div>
        <a href="/"><div class="home"><ion-icon name="home"></ion-icon>Home</div></a>
        <a href="about"><div class="about"><ion-icon name="information-circle"></ion-icon>About</div></a>
        <a href="project"><div class="project"><ion-icon name="folder-open"></ion-icon>Projects</div></a>
        <a href="services"><div class="services"><ion-icon name="laptop"></ion-icon>Services</div></a>
        <a href="contact"><div class="contact"><ion-icon name="call"></ion-icon>Contact</div></a>
    </nav><br><br>
    <article>
        <h1><center><u>Know Me Well ! </u></center></h1>
        <h2><i>
        MANYA GUPTA
        I am a Passionate Web developer and Designer.
        Management and technology are two abilities I've been honing over the years and hope to combine in the future.
        </i>
        <center>
          <div class="resume">
          Here is my Resume. Have a look into it !        
          <table>
              <tr>
                  <td> <ion-icon name="cloud-download"></ion-icon></td>
                  <td class="btnDownload" >  
                    <a href="/static/resume.docx" download="resume" >Download Pdf</a>
                 </td>
               </tr>
          </table>
          
         </div>
        </center>
        </h2>
        
    </article>
</div>
<%- include('partials/footer'); %>
